html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #8d1f28;
  height: 1000px;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

#title {
  text-align: center;
  color: white;
}

#top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simple-btn {
  outline: 0;
  border: 0;
  background-color: gray;
  padding: 7px 40px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.simple-btn:hover {
  background-color: #27ae60;
}

#visualizer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-result {
  margin-top: 2em;
}
.ques-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 250px;
}
.some-ques {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: wheat;
  border: 5px solid gray;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 1000px;
}

.some-ques h3 {
  font-size: 30px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: bold;
}

.ques p {
  font-size: 30px;
  margin-top: 0;
  position: relative;
  margin-left: 35px;
}

.ques p strong {
  color: red;
}

.ques .note {
  font-weight: bold;
}
